{% extends 'layouts.html' %}

{% block content %}

{% include 'navbar.html' %}

<div class="container">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <br>
            Numero do pedido: {{pedidos.notafiscal}} 
            <br>
            Status do pedido: {{pedidos.status}} 
            <br>
            Nome do cliente: {{cliente.name}} 
            <br>
            Email do cliente: {{cliente.email}} 
            <br>
            telefone do client: {{cliente.contact}} 
            <br>
            <br>
        <table class="table table-sm">
            <thead>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Cor</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Disconto</th>
                <th>SubTotal</th>
            </thead>

            <tbody>
                {% for key, produto in pedidos.pedido.items() %}
                {% set discount = '%0.2f' | format((produto.discount/100) * produto.price|float)  %}
                <tr>

                    <td>{{loop.index}}</td>
                    <td>{{produto.name}}</td>

                        <td>
                            {{produto.color|capitalize}}
                        </td>

                        <td>R${{produto.price}}</td>

                        <td>{{produto.quantidade}}</td>

                        {% if produto.discount > 0 %}

                        <td>{{produto.discount}}% &nbsp; = {{discount}}</td>

                        {% else %}

                        <td></td>

                        {% endif %}
                        {% set subtotal = produto.quantidade|int * produto.price|float %}
                        <td>{{"%0.2f"|format((subtotal|float) - discount|float)}}</td>


                </tr>
                {% endfor %}
            <tr>

                <td><a href=""  class="btn btn-outline-success btn-sm float-left">Processar Compra</a></td>
                <td colspan="3">Imposto: R${{imposto}}</td>
                <td colspan="4">Valor Pagar :R${{gTotal}}</td>
                <td>
                    <form method="post" action="{{url_for('get_pdf', notafiscal=pedidos.notafiscal)}}">
                    <button type="submit" class="btn btn-primary btn-sm float-right">Geral PDF</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock content %}




